

{% load i18n %}
{% load get_menu_json %}
{% get_base_left_topbar_menu as BASE_TOPBAR_MENU_LEFT %}
<footer class="gn-footer">
    <div>
        <ul>
            {% for menu_item in BASE_TOPBAR_MENU_LEFT %}
                <li>
                    <a
                        href="{{ menu_item.href }}"
                        target="{{ menu_item.target }}"
                    >
                        <span>{% trans menu_item.label %}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer-signIn">
        <form>
            <input class="footer-signIn_field" placeholder="E-mail">
            <button class="footer-signIn_button">{% trans "Sign up" %}</button>
        </form>
    </div>
</footer>
