{% load i18n %}
{% load base_tags %}
{% load markdownify %}

<div class="main-screen">
    <div class="main-screen-content">
        <div class="main-screen-label">Astana innovations</div>
        <div class="main-screen-title">AstanaGeoStorage</div>
        <div class="main-screen-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ipsum justo, semper a vulputate sed, sodales at nulla. Integer quis dui at felis convallis posuere vel non lectus.</div>
        <div class="main-screen-btns">
            <a href="#" class="main-screen-white-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Перейти в каталог данных</a>
            <a href="#" class="main-screen-white-border-btn">Создать свою карту<i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
