{% load i18n %}

<div class="main-page-statistics">
    <div class="statistics-content">
        <div class="statistics-item">
            <img src="/static/images/statics-ico_layers.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">230+</div>
                <div>созданных слоев</div>   
            </div>
        </div>
        <div class="statistics-item">
            <img src="/static/images/statics-ico_map.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">513+</div>
                <div>готовых карт</div>   
            </div>
        </div>
        <div class="statistics-item">
            <img src="/static/images/statics-ico_org.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">120+</div>
                <div>организаций</div>   
            </div>
        </div>
        <div class="statistics-item">
            <img src="/static/images/statics-ico_users.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">185+</div>
                <div>пользователей</div>   
            </div>
        </div>
    </div>
</div>