{% load i18n %}

<div class="main-page-statistics">
    <div class="statistics-content">
        <div class="statistics-item">
            <img src="/static/images/statics-ico_layers.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">230+</div>
                <div>{% trans "Created layers" %}</div>   
            </div>
        </div>
        <div class="statistics-item">
            <img src="/static/images/statics-ico_map.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">513+</div>
                <div>{% trans "Ready maps" %}</div>   
            </div>
        </div>
        <div class="statistics-item">
            <img src="/static/images/statics-ico_org.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">120+</div>
                <div>{% trans "organizations" %}</div>   
            </div>
        </div>
        <div class="statistics-item">
            <img src="/static/images/statics-ico_users.png" class="statistics-item-ico">
            <div>
                <div class="statistics-number">185+</div>
                <div>{% trans "users" %}</div>   
            </div>
        </div>
    </div>
</div>